/* CSS Perso */
@font-face {
    font-family: 'museo_sans500';
    src: url('polices/museosans_500-webfont.woff2') format('woff2'),
    url('polices/museosans_500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'museo_sans500_italic';
    src: url('polices/museosans_500_italic-webfont.woff2') format('woff2'),
    url('polices/museosans_500_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cookiesandcreamregular';
    src: url('polices/cookiesandcream-webfont.woff2') format('woff2'),
    url('polices/cookiesandcream-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cookiesandcreamextrasregular';
    src: url('polices/cookiesandcreamextras-webfont.woff2') format('woff2'),
    url('polices/cookiesandcreamextras-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'coffeetea_demoregular';
    src: url('polices/coffeeteademo-regular-webfont.woff2') format('woff2'),
    url('polices/coffeeteademo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cinnamon_cakeregular';
    src: url('polices/cinnamon_cake-webfont.woff2') format('woff2'),
    url('polices/cinnamon_cake-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100vw;
    min-width: 320px;
    font-family: cinnamon_cakeregular !important;
    letter-spacing: 2px;
}
h1, h2, h3, h4, h5, h6, blockquote, .btn {
    font-family: cookiesandcreamregular !important;
}
.side-nav .sidenav-bg::after {
    margin-bottom: 0;
    padding-bottom: 0;
}
.btn {
    font-size: 1.2rem;
}

/* ---- sidebar ---- */
#slide-out .logo-wrapper img {
    padding: 0;
    margin: 7px 0;
}
#slide-out .collapsible > li > a:first-child {
    font-family: cookiesandcreamregular;
    font-size: 17px;
    letter-spacing: 2px;
}

.side-nav .collapsible a {
    font-family: cinnamon_cakeregular;
    letter-spacing: 1px;
    padding: 0;
}
/* ---- navbar ---- */
.navbar .dropdown-menu.dropdown-menu-right {
    right: 0 !important;
}
.navbar .dropdown-menu.dropdown-menu-right a:hover {
    background-color: #C62828;
}
.item {
    box-sizing: border-box;
    min-height: 90vh;
    padding-top: 10vh;
    overflow: hidden;
}
#flash {
    overflow: hidden;
}
.noshadow {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.navigation ul li, .first, .previous, .page, .next, .last, .current {
    padding: 5px 10px;
}
.navigation ul li, .first, .previous, .page, .next, .last {
    background-color: #C62828;
    margin: 2px;
    padding: 5px 10px;
    color: white;
}
.current {
    margin: 2px;
}

.navigation ul li.active, .current {
    background-color: #ef9a9a ;
    color: black;
}

.navigation ul li a, .first a, .previous a, .page a, .next a, .last a {
    color: white;
}

#recipes table a:hover {
    color: #C62828;
}

#category .md-form label {
    color: dimgrey; }

#category input[type=text]:focus:not([readonly]),
#recipe input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #c62828 !important;
    -webkit-box-shadow: 0 1px 0 0 #c62828 !important;
    box-shadow: 0 1px 0 0 #c62828 !important; }

#category input[type=text]:focus:not([readonly]) + label {
    color: #c62828 !important; }

#category .md-form i.active {
    color: #c62828 !important; }


#recipe .dropdown-content li > a,
#recipe .dropdown-content li > span {
    color: black !important;
}
#recipe .dropdown-content li > a:hover,
#recipe .dropdown-content li > span:hover {
    background-color: #C62828 !important;
    color: white !important;
}

#recipe label {
    font-weight: 800;
    color: black;
}

.notsaveandcancel:before {
    color: white !important;
    content: "\f00d";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.saveandback:before {
    color: white !important;
    content: "\f0e2";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.saveandadd:before {
    color: white !important;
    content: "\f061";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}




header, main, footer {
    padding-left: 0;
}

.cropit-preview {
    background-color: #f8f8f8;
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 7px;
    width: 250px;
    height: 250px;
}
.cropit-preview-image-container {
    cursor: move;
}
.image-size-label {
    margin-top: 10px;
}
input, .export {
    display: block;
}
button {
    margin-top: 10px;
}