header, main, footer {
    padding-left: 240px;
}
.double-nav .breadcrumb-dn {
    padding-left: 20% !important;
}
#ardoise {
    display: block;
    position: absolute;
    width: 80%;
    left: 50%;
    margin-left: -40%;
    top: 42%;
    margin-top: 0;
}
#salade {
    display: block;
    position: absolute;
    width: 36%;
    margin-left: -18%;
    left: 50%;
    top: 40%;
    margin-top: 0;
}

